@model IEnumerable<VisitorsNationality.Models.Visitor>

@{
    ViewData["Title"] = "Privacy";
}

<h1>Privacy</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a href="/visitors/details?Id=@item.Id">Click to View Country Name</a>
            </td>
        </tr>
}
    </tbody>
</table>
